Leviathan.egg-info/
__pycache__/
*.pyc
.env
/__pycache__/
*.pkl
/Book/books/
/Summarize/examples/
/summarize/examples/
tutorial_store.pkl
.leviathan_message_store.pickle
*.txt
.leviathan_log.txt
*.mp3
*.mp4
*.pkl.json
